
        
        body{
            font-family: 'Open Sans', sans-serif;
            position: relative;
        }
        table {
            margin: auto;
            width: 90vw;
            font-size: smaller;
            text-align: center
        }
        table, tr,th,td {
            border: 1px solid rgb(151, 151, 151);
        }
        table tr:nth-child(even){
            background-color: rgb(245, 245, 245);
        }

        .new {
            color: #fc0097;
            text-shadow: 0 0 13px #cf0000, 0 0 15px #0000FF;
        }
        .menu,.menu tr,.menu th {
            border: none;
        }
        .menu_link{
            color: rgba(0, 0, 0);
            padding: 10px;
            text-decoration: none;
            border-radius: 10px;
        }
        .menu_link:hover {
            text-decoration: none;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
        }
        .menu_link:visited {
            text-decoration: none;
            
        }

        .dropbtn {
            background-color: #010053;
            color: white;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #d0fafa;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            font-size: smaller;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: rgb(78, 3, 78); color: cornsilk;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #0804e4;}

            .pros {
                text-align: center;
            }
            .pros a{
                text-decoration: none;  
                
            }
            .pros a:hover {
                color: brown;
                text-decoration: underline;
            }
            .pros a:visited {
                color: rgb(255, 0, 234);
            }

            .resources {
                
                margin-top: 40px;

        }
        .resources table ,.resources tr,.resources td {
            border:none;
        }
        .resources ul li {
            list-style: none;
            margin: 10px 0;
            text-align: left;
        }
        .resources ul li a{
            text-decoration: none;
            font-weight: 500;
            color: rgb(1, 93, 146);
            padding:2px 5px;
            font-size: x-small;
        }
        .resources ul li a:hover {
            background-color: rgb(0, 0, 0);
            color: rgb(245, 245, 245);
            text-decoration: none;
            padding-left: 10px;
            border-top-right-radius:10px ;
            border-bottom-right-radius:10px ;
        }
        .resources span {
            color: rgb(85, 6, 6);
        }
        .Do {
            font-size: 80px;
            font-weight: 700;
            text-shadow: 10px 10px 10px rgb(14, 14, 14);
        }
        .content-below{
            width: 70px;
            border: none;
            border-bottom:5px dotted;
            border-bottom-color:rgb(164, 158, 255);
        
        }
        .progress p{
            text-align: left;
            
        }
        .topic {
            font-size: xx-large;
            font-weight: 900;
            padding: 10px;
        }


        @import url('https://fonts.googleapis.com/css?family=Lato');

        /* * {
        box-sizing: border-box;
        }

        body {
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        min-height: 100vh;
        font-family: 'Lato', sans-serif;
        margin: 0;
        } */

        /* h2 {
            text-align: center;
        } */

        .progress-bar {
            background-color: #fefefe;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            margin: 15px;
            height: 30px;
            width: 500px;
            max-width: 100%;
        }

        .progress {
            background: #ad5389;
            background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
            background: linear-gradient(to bottom, #3c1053, #ad5389);
            border-radius: 3px;
            height: 30px;
            width: 0;
            transition: width 0.5s ease-in;
        }
        
        .collab {
            text-decoration:none;
            
        }
            
   
